#fancy_setup_prompt {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
	width: 100%;
	box-shadow: none;
}

.fancy_activate {
	border: 1px solid #4F800D;
	padding: 5px;
	margin: 25px 0;
	background: #83AF24;
	background-image: -webkit-gradient(linear, 0% 0, 80% 100%, from(#83AF24), to(#4F800D));
	background-image: -moz-linear-gradient(80% 100% 120deg, #4F800D, #83AF24);
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	position: relative;
	overflow: hidden;
	margin-right: 20px;
}

.fancy_activate .fancy_letter {
	position: absolute;
	top: -5px;
	right: 10px;
	font-size: 140px;
	color: #769F33;
	font-family: Georgia, "Times New Roman", Times, serif;
	z-index: 1;
}

.fancy_activate .fancy_button {
	font-weight: bold;
	border: 1px solid #029DD6;
	border-top: 1px solid #06B9FD;
	font-size: 15px;
	text-align: center;
	padding: 9px 0 8px 0;
	color: #FFF;
	background: #029DD6;
	background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#029DD6), to(#0079B1));
	background-image: -moz-linear-gradient(0% 100% 90deg, #0079B1, #029DD6);
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	width: 100%;
	cursor: pointer;
	margin: 0;
}

.fancy_activate .fancy_button:hover {
	text-decoration: none !important;
	border: 1px solid #029DD6;
	border-bottom: 1px solid #00A8EF;
	font-size: 15px;
	text-align: center;
	padding: 9px 0 8px 0;
	color: #F0F8FB;
	background: #0079B1;
	background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#0079B1), to(#0092BF));
	background-image: -moz-linear-gradient(0% 100% 90deg, #0092BF, #0079B1);
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
}

.fancy_activate .fancy_button_border {
	border: 1px solid #006699;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	background: #029DD6;
	background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(#029DD6), to(#0079B1));
	background-image: -moz-linear-gradient(0% 100% 90deg, #0079B1, #029DD6);
}

.fancy_activate .fancy_button_container {
	box-sizing: border-box;
	display: inline-block;
	padding: 5px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	width: 266px;
}

.fancy_activate .fancy_description {
	position: absolute;
	top: 22px;
	left: 285px;
	margin-left: 25px;
	color: #E5F2B1;
	font-size: 15px;
	z-index: 1000;
}

.fancy_activate .fancy_description strong {
	color: #FFF;
	font-weight: normal;
}

@media (max-width: 550px) {
	.fancy_activate .fancy_letter {
		display: none;
	}
	
	.fancy_activate .fancy_button_container {
		width: 100%;
	}
}

@media (max-width: 782px) {
	.fancy_activate {
		min-width: 0;
	}
}

@media (max-width: 850px) {
	#fancy_setup_prompt .fancy_description {
		display: none;
	}
	
	.fancy_activate {
		min-width: 0;
	}
}